<br>
<form method="post" action="/registration">
  <h1 style="text-align: center;">Register</h1>
  <p style="text-align: center;">Please fill in this form to create an account.</p>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{values.firstName}}"/>
    <label for="firstName">First Name</label>
   {{#if validationMessages.firstName}}
        <span style="color: red;">{{validationMessages.firstName}}</span>
    {{/if}}
  </div>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{values.lastName}}"/>
    <label for="lastName">Last Name</label>
    {{#if validationMessages.lastName}}
        <span style="color: red;">{{validationMessages.lastName}}</span>
    {{/if}}
  </div>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{values.email}}"/>
    <label for="email">Email</label>
    {{#if validationMessages.email}}
        <span style="color: red;">{{validationMessages.email}}</span>
    {{/if}}
  </div>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{values.password}}"/>
    <label for="password">Password</label>
    {{#if validationMessages.password}}
        <span style="color: red;">{{validationMessages.password}}</span>
    {{/if}}
  </div>
  {{#each errors}}
    <p style="color:red; text-align:center;">{{this}}</p>
  {{/each}}
  <div class="d-grid" style="width: 50%; margin:auto;">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
  <br>
  <p class="lead" style="text-align: center;">Already have an account? <a href="/login">Sign in</a>.</p>
</form>