<br>
<form method="post" action="/login">
  <h1 style="text-align: center;">Sign In</h1>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{values.email}}"/>
    <label for="email">Email</label>
    {{#if validationMessages.email}}
        <span style="color: red;">{{validationMessages.email}}</span>
    {{/if}}
  </div>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{values.password}}"/>
    <label for="password">Password</label>
    {{#if validationMessages.password}}
        <span style="color: red;">{{validationMessages.password}}</span>
    {{/if}}
  </div>
  {{#each errors}}
    <p style="color:red; text-align:center;">{{this}}</p>
  {{/each}}
  <div class="col" style="text-align: center;">
    <input type="radio" class="btn-check" name="SignType" id="customer" value="customer">
    <label class="btn btn-outline-dark btn-lg" for="customer">Customer sign in</label>
    &emsp;&emsp;
    <input type="radio" class="btn-check" name="SignType" id="employee" value="employee">
    <label class="btn btn-outline-dark btn-lg" for="employee">Employee sign in</label>
  </div>
  <div class="d-grid" style="width: 50%; margin:auto;">
    <br>
    <button class="btn btn-primary" type="submit">Sign In</button>
  </div>
  <br>
  <p class="lead" style="text-align: center;">Don't have an account? <a href="/registration">Register</a>.</p>
</form>